{:paths ["src"]

 :deps  {markdown-clj/markdown-clj {:mvn/version "1.12.1"}
         com.rpl/specter           {:mvn/version "1.1.4"}
         org.clj-commons/pretty    {:mvn/version "3.2.0"}}

 :tasks {serve      {:doc      "Run minimal local server to view site"
                     :requires ([site.server])
                     :task     (site.server/start!)}
         dev        {:doc  "Run in dev mode: site generation and Tailwind CSS watch"
                     :task (run '-dev {:parallel true})}
         -dev       {:depends [dev:tw dev:watch2]}
         dev:watch  {:doc      "Serve and rebuild on change"
                     :requires ([site.watch])
                     :task     (do (site.watch/start!)
                                   (deref (promise)))}
         dev:watch2 {:doc      "Serve and rebuild on change"
                     :requires ([site.watch])
                     :task     (do (System/setProperty "BB_ENV" "development")
                                   (site.watch/start2!)
                                   (deref (promise)))}
         dev:tw     {:doc  "Run Tailwind CSS watcher"
                     :task (do (shell "npm run dev"))}
         build:site {:doc      "Generate static site"
                     :requires ([site.core])
                     :task     (do (System/setProperty "BB_ENV" "production")
                                   (site.core/build2!)
                                   (shell "npm run build"))}
         play:system {:doc "Experiment with `System` namespace"
                      :task (do (System/setProperty "foo" "bar")
                                (println (System/getProperty "foo")))}}}
 